/*
* Start          :1/11/2020
* End            :
* Upload         :
* Url            :
* Contact Me     :mohammedmodather144@gmail.com
*  1- Genral Style
*  2- Sections
*   2.0- Header Section
*   2.1- Home Section
*   2.2- About Section
*   2.3- Our Work Section
*   2.4- Offer Section
*   2.5- Choose Us Section
*   2.6- Statistic Section
*   2.7- Pricing Table Section
*   2.8- Our Testimonial Section
*   2.9- Our Team  Section
*   2.10- Resent News Section
*   2.11- Contact Us Section
*   2.12- Footer Section
*  3- Blog Bost Page
*   3.0- Start Breadcrumb Link
*   3.0- Start Breadcrumb Link
*   3.0- Start Breadcrumb Link
*  4- Commin Style
*    4.0- Overlay
*    4.1- Header Element
*    4.2- button Element
*    4.3- Opcity Hover
*    4.4- Section-Header
*    4.5- Padding-Y
*    4.6- Hover Item Left
*    4.7- Hover Item Top
*    4.8-  Scroll Top
*    4.9- Loading
*/
/* 1-  Genral Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --mainColor: #6195ff;
  --seconderyColor: #868F9B;
  --colorWhite: #ffffff;
}
body {
  font-family: "Varela Round", sans-serif;
}
/* 2- Sections */
/* 2.0- Header */
.nav-header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-header .logo {
  padding-top: 5px;
  float: left;
  width: 30%;
}
.nav-header .logo img{
  width: 20%;
  margin-top: 5px;
}
.nav-header .nav-links{
  float: left;
  text-align: right;
  width: 70%;
  margin-bottom: 5px;
  margin-top: 5px;
  list-style: none;
}
.nav-header .nav-links >li{
  display: inline-block;
  padding: 10px 25px;
}
.nav-header .nav-links >li> a{
  text-decoration: none;
  color: var(--colorWhite);
  display: block;
  font-size: 0.8rem;
}
.nav-header .nav-links >li.active::after,
.nav-header .nav-links >li::after{
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--mainColor);
  transition: width .5s ease-in-out;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -ms-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
}
.nav-header .nav-links >li.active::after,
.nav-header .nav-links >li:hover::after{
  width: 100%;
}
.nav-header .nav-links .dropdown .dropdown-menu {
  background-color:var(--mainColor);
}
.nav-header .nav-links .dropdown .dropdown-menu::before{
  content: "";
  position: absolute;
  border-width: 0px 10px 10px 10px;
  border-style: solid;
  border-color: var(--mainColor) transparent;
  left: 15%;
  top: -10px;
  display: block;
}
.nav-header .nav-links .dropdown .dropdown-menu a{
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  height: 100%;
  color: var(--colorWhite);
}
.nav-header .nav-links .dropdown:hover .dropdown-menu{
  display: block;
}
/* 2.1- Home Section */
.home{
  position: relative;
  height: 100vh;
  background-image: url(../images/background/background1.webp);
  background-size: cover;
}
.home .home-content{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 65%;
  text-align: center;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.home .home-content .title{
  color: var(--colorWhite);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.home .home-content .desc{
  color: var(--colorWhite);
  text-align: 1.8;
  font-size: 14px;
}
.home .home-content .btn{
  width: 150px;
  padding: 10px 0px;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
}
.home .home-content .btn-start{
  background-color: var(--colorWhite);
  margin-right: 10px;
}
.home .home-content .btn-learn{
  background-color: var(--mainColor);
  color: var(--colorWhite);
}
/* 2.2- About Section */
.about .about-item{
  border: 1px solid #EEE;
  padding:25px 20px;
  text-align: center;
}
.about .about-item i{
  color: var(--mainColor);
}
.about .about-item .title{
  margin: 15px 0px;
  font-weight: bolder;
  font-size: 21px;
  transition: color 0.7s ease-in-out;
  -webkit-transition: color 0.7s ease-in-out;
  -moz-transition: color 0.7s ease-in-out;
  -ms-transition: color 0.7s ease-in-out;
  -o-transition: color 0.7s ease-in-out;
}
.about .about-item .desc{
  font-size: 13px;
  line-height: 1.7;
  color: var(--seconderyColor);
}
.about .about-item link{
  font-size: 14px;
  color: var(--mainColor);
  text-decoration: none;
}
.about .hover-left:hover .title{
  color: var(--colorWhite);
}
/* 2.3- Our Work Section */
.our-work{
  background-color: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.our-work .our-work-item{
  position: relative;
  padding: 20px;
}
.our-work .our-work-item img{
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.our-work .our-work-item .overlay-work{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition:opacity 0.7s ease-in-out;
  -webkit-transition:opacity 0.7s ease-in-out;
  -moz-transition:opacity 0.7s ease-in-out;
  -ms-transition:opacity 0.7s ease-in-out;
  -o-transition:opacity 0.7s ease-in-out;
}
.our-work .our-work-item .overlay-work .content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.our-work .our-work-item .overlay-work .content .catogary{
  color: var(--mainColor);
  font-size: 14px;
  position: relative;
  top: 10px;
  transition: top 0.5s ease-in-out;
  transition-delay: 0.2s;
}
.our-work .our-work-item .overlay-work .content .title{
  color: var(--colorWhite);
  font-size: 16px;
  font-weight: bolder;
  position: relative;
  top: 10px;
  transition: top 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.our-work .our-work-item .overlay-work .content .work-link a{
  background-color: var(--mainColor);
  width: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: 10px;
  transition: top 0.5s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-work .our-work-item .overlay-work .content .work-link a i{
  color: var(--colorWhite);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.our-work .our-work-item:hover .overlay-work{
  opacity: 1;
  visibility: visible;
}
.our-work .our-work-item:hover .overlay-work .content .catogary,
.our-work .our-work-item:hover .overlay-work .content .title,
.our-work .our-work-item:hover .overlay-work .content .work-link a{
  top: 0px;
}
/* 2.4- Offer Section */
.offer{
  border-bottom: 1px solid #eeeeee;
}
.offer .offer-item{
  border: 1px solid rgb(231, 222, 222);
  padding: 20px 15px 30px 70px;
  position: relative;
  margin-bottom: 30px;
}
.offer .offer-item .icon{
  position: absolute;
  top: 22px;
  left: 20px;
  color: var(--mainColor);
}
.offer .offer-item .title{
  font-size: 15px;
  font-weight: bolder;
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}
.offer .offer-item .desc{
  font-size: 13px;
  color: #868F9B;
  line-height: 1.7;
}
.offer .hover-left:hover .title{
  color: var(--colorWhite);
}
/* 2.5- Choose Us Section */
.choose-us{
  background-color: #FAFAFA;
}
.choose-us .choouse-us-left .line{
  margin-left: 0px;
  margin-bottom: 30px;
}
.choose-us .choouse-us-left .desc{
  line-height: 1.8;
  font-size: 14px;
  color: var(--seconderyColor);
}
.choose-us .choouse-us-left ul li{
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--seconderyColor);
}
.choose-us .choouse-us-left ul li i{
  color: var(--mainColor);
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid var(--mainColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.choose-us .choose-us-right .carousel-indicators li{
  bottom: -50px;
  background-color: #eeeeee;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.choose-us .choose-us-right .carousel-indicators .active{
  background-color: var(--mainColor);
  width: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.choose-us .choose-us-right .carousel-control-prev-icon i,
.choose-us .choose-us-right .carousel-control-next-icon i{
  background: var(--mainColor);
  content: "\f104";
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-family: FontAwesome;

}
.choose-us .choose-us-right .carousel-control-prev-icon i{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.choose-us .choose-us-right .carousel-control-next-icon i{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.choose-us .choose-us-right .carousel-control-next{
  right: 15px;
  width: unset;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out;
}
.choose-us .choose-us-right .carousel-control-prev{
  left: 0px;
  width: unset;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out;
}
.choose-us .choose-us-right:hover .carousel-control-prev,
.choose-us .choose-us-right:hover .carousel-control-next{
  opacity: 1;
  visibility: visible;
}
/* 2.6- Statistic Section */
.statistic{
  overflow: hidden;
  position: relative;
  background-image: url(../images/background/background2.webp);
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
}
.statistic .statistic-content {
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 100%;
}
.statistic .statistic-item {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.statistic .statistic-item i{
  color: var(--mainColor);
}
.statistic .statistic-item .title{
  font-size: 36px;
  margin: 10px 0;
  font-weight: bolder;
  color: var(--colorWhite);
}
.statistic .statistic-item .desc{
  font-size: 14px;
  color: var(--colorWhite);
}
/* 2.7- Pricing Table Section */
.pricing-table .pricing-table-item{
  border: 1px solid #eeeeee;
  text-align: center;
  padding: 25px;
}
.pricing-table .pricing-table-item .title{
  color: var(--seconderyColor);
  font-size: 16px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.pricing-table .pricing-table-item .price-month{
  width: 120px;
  height: 120px;
  padding: 20px;
  margin:20px auto;
  color: #1C1D1B;
  border: 2px solid var(--mainColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.pricing-table .pricing-table-item .price-month .doler{
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: -3px;
}
.pricing-table .pricing-table-item .price-month .month{
  font-size: 14px;
  font-weight: bolder;
}
.pricing-table .pricing-table-item .price-list li{
  color: var(--seconderyColor);
  margin-bottom: 10px;
  font-size: 14px;
}
.pricing-table .pricing-table-item button{
  background: none;
  margin-top: 20px;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}
.pricing-table .hover-top:hover .title{
  color: var(--mainColor);
}
.pricing-table .hover-top:hover .price-month{
  color: var(--colorWhite) !important;
}
/* 2.8- Our Testimonial Section */
.our-testimonial{
  position: relative;
  background-image: url(../images/background/background3.webp);
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}
.our-testimonial .carousel-inner{
  width: 80%;
  margin: auto;
  height: 350px;
}
.our-testimonial .carousel-inner .carousel-item{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.our-testimonial .our-testimonial-item .item-head{
  text-align: left;
  margin-bottom: 20px;
}
.our-testimonial .our-testimonial-item .item-head .item-head-img{
  width: 80%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-testimonial .our-testimonial-item .item-head .item-head-title{
  color: var(--colorWhite);
  font-size: 22px;
  margin-left: -20px;
  font-weight: bolder;
  margin-top: 7px;
  margin-bottom: 2px;
}
.our-testimonial .our-testimonial-item .item-head .item-head-desc{
  color: var(--mainColor);
  margin-left: -20px;
  font-size: 13px;
}
.our-testimonial .our-testimonial-item .item-body{
  color: var(--colorWhite);
  font-size: 14px;
  line-height: 1.8;
}
/* 2.9- Our Team  Section */
.our-team .our-team-item{
  position: relative;
  background-color: #F4F4F4;
  padding: 40px 20px;
  margin: 15px 0px;
}
.our-team .our-team-item .team-item-img img{
  width: 100%;
}
.our-team .our-team-item .team-item-img{
  position: relative;
}
.our-team .our-team-item .team-item-img .team-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
}
.our-team .our-team-item .team-item-img .team-overlay a{
  display: block;
  margin-left: auto;
  width: 50px;
  height: 50px;
  background-color: var(--mainColor);
  color: var(--colorWhite);
  text-align: center;
}
.our-team .our-team-item .team-item-img .team-overlay a i{
  line-height: 50px;
}
.our-team .our-team-item .team-item-info .title{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  transition:  color.5s ease-in-out;
}
.our-team .our-team-item .team-item-info .desc{
  font-size: 14px;
  text-transform: uppercase;
  color: var(--seconderyColor);
  transition:  color.5s ease-in-out;
}
.our-team .hover-top{
  z-index: 1;
}
.our-team .our-team-item:hover .team-overlay{
  opacity: 1;
  visibility: visible;
}
.our-team .our-team-item:hover .team-item-info .title{
  color: var(--colorWhite);
}
.our-team .our-team-item:hover .team-item-info .desc{
  color: var(--mainColor);
}
/* 2.10- Resent News Section */
.resent-news{
  background-color: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.resent-news .resent-news-item{
  background-color: #ffffff;
  padding-bottom: 20px;
}
.resent-news .resent-news-item img{
  width: 100%;
}
.resent-news .resent-news-item .resent-news-info{
  padding-left: 10px;
}
.resent-news .resent-news-item .resent-news-info .list-resent-news li {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 0px;
}
.resent-news .resent-news-item .resent-news-info .list-resent-news li i{
  color: var(--mainColor);
}
.resent-news .resent-news-item .resent-news-info .title{
  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 0px;
  font-weight: bolder;
}
.resent-news .resent-news-item .resent-news-info .desc{
  font-size: 14px;
  color: var(--seconderyColor);
  line-height: 1.7;
  margin-bottom: 3px;
}
.resent-news .resent-news-item .resent-news-info .link{
  text-decoration: none;
  color: var(--mainColor);
}
/* 2.11- Contact Us Section */
.contact-us .info i{
  color: var(--mainColor);
}
.contact-us .info .title{
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 22px;
}
.contact-us .info .desc{
  color: var(--seconderyColor);
  font-size: 14px;
}
.contact-us .form{
  width: 65%;
  margin: auto;
  margin-top: 30px;
}
.contact-us .form .form-control{
  border: 0px;
  background: #f4f4f4;
  border-bottom: 2px solid #eee;
}
/* 2.12- Footer Section */
.footer{
  background-color: #1c1d21;
}
.footer .footer-links li{
  display: inline-block;
  margin: 10px;
}
.footer .footer-links li a i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: var(--colorWhite);
  background-color: var(--mainColor);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.footer .copy-right{
  color: var(--seconderyColor);
  font-size: 14px;
}
/*  3- Blog Bost Page */
/*  3.0- Start Breadcrumb Link */
.breadcrumb-link{
  padding-top: 65px;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.breadcrumb-link .title-page{
  font-size: 30px;
}
.breadcrumb-link .breadcrumb{
  background: none;
  justify-content: flex-end;
}
/* 3.1- Blog Post */
.blog-post .post .img-post{
  width: 100%;
}
.blog-post .post .plog-post-info{
  padding-left: 10px;
}
.blog-post .post .plog-post-info .list-plog-post li {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 0px;
}
.blog-post .post .plog-post-info .list-plog-post li i{
  color: var(--mainColor);
}
.blog-post .post .plog-post-info .title{
  font-size: 22px;
  margin-bottom: 3px;
  margin-top: 0px;
  font-weight: bolder;
}
.blog-post .post .plog-post-info .desc{
  font-size: 14px;
  color: var(--seconderyColor);
  line-height: 1.7;
  margin-bottom: 3px;
}
.blog-post .post .tags,
.blog-post .side-menu .tags{
  margin-top: 20px;
}
.blog-post .post .tags .list-tags li,
.blog-post .side-menu .tags .list-tags li{
  display: inline-block;
  margin-right: 5px;
}
.blog-post .post .tags .list-tags li a,
.blog-post .side-menu .tags .list-tags li a{
  text-decoration: none;
  background: #f4f4f4;
  padding: 8px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  color: #10161a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.blog-post .post .tags .list-tags li a i{
  color: #6195ff;
}
.blog-post .post .author,
.blog-post .post .comment .comment-content {
  padding: 8px;
  border: 1px solid #eee;
}
.blog-post .post .author .img-author,
.blog-post .post .comment .img-author{
  width: 90%;
}
.blog-post .post .author .author-name,
.blog-post .post .comment .author-name{
  font-size: 22px;
  margin-top: 5px;
  font-weight: bolder;
}
.blog-post .post .author .author-socil-links {
  margin-bottom: 0px;
}
.blog-post .post .author .author-socil-links li{
  display: inline-block;
}
.blog-post .post .author .author-socil-links li a i{
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 5px;
  color: #ffffff;
  background-color: #6195ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.blog-post .post .author .author-desc,
.blog-post .post .comment .author-desc{
  line-height: 1.8;
  font-size: 14px;
  color: var(--seconderyColor);
}
.comment{
  margin-top: 20px;
}
.comment .section-headers .title{
  font-size: 22px;
}
.comment .section-headers .line{
  margin-right: auto;
  margin-left: unset;
}
.blog-post .post .comment .comment-content .comment-item{
  border-bottom: 1px solid #eee;
  padding: 10px;
}
.blog-post .post .comment .comment-content .comment-item.color{
  border: 1px solid #6195ff;
  background-color: #f4f4f4;
  padding: 10px;
}
.blog-post .post .comment .comment-content .comment-item.b-ltr{
  border: 1px solid #eee;
  padding: 10px;
  border-top: 0;
}
.blog-post .post .comment .comment-content .comment-item.color .author-name{
  color: #6195ff !important;
}
.blog-post .post .comment .author-name span{
  font-size: 12px;
  color: var(--seconderyColor);
  font-weight: normal;
}
.blog-post .post .comment .reply{
  display: block;
  text-align: end;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}
.blog-post .post .form-comment {
  padding-top: 20px;
}
.blog-post .post .form-comment .section-headers .title{
  font-size: 18px;
}
.blog-post .post .form-comment .section-headers .line{
  margin-bottom: 20px;
}
.blog-post .side-menu{
  margin-top: 20px;
}
.blog-post .side-menu .search{
  position: relative;
}
.blog-post .side-menu .search input{
  border: 0px;
  background-color: #F4F4F4;
}
.blog-post .side-menu .search i{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #6195ff;
}
.blog-post .category .section-headers .title{
  font-size: 18px;
}
.blog-post .category .section-headers .line{
  margin: 0;
}
.blog-post .category .category-list{
  margin-top: 20px;
}
.blog-post .category .category-list li{
  position: relative;
  padding: 8px 0px;
  border-bottom: 1px solid #eeeeee;
}
.blog-post .category .category-list li a{
  font-size: 14px;
  text-decoration: none;
  color: #555555;
  transition: color .7s ease-in-out;
}
.blog-post .category .category-list li a:hover{
  color: #6195ff;
}
.blog-post .category .category-list li span{
  position: absolute;
  right: 5px;
  color: #6195ff;
}
.blog-post .populare-post{
  margin-top: 20px;
}
  .blog-post .populare-post .populare-item{
  margin-top: 20px;
}
.blog-post .populare-post img{
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}
.blog-post .populare-post .title{
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.blog-post .populare-post .title:hover{
  color: #6195ff;
}
.blog-post .populare-post .date{
  font-size: 14px;
  color: #6195ff;
}
.blog-post .side-menu .tags .list-tags {
  margin-top: 15px;
}











/* 4- Commin Style */
/*  4.0- overlay */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
/* 4.1- Header Element */
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat',sans-serif;
}
/* 4.2- Button Element*/
button{
  font-family: inherit
}
/* 4.3- Opcity Hover */
.hover-opacity{
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.hover-opacity:hover{
  opacity: 0.8;
}
/* 4.4- Secation-Headers */
.section-headers{
  text-align: center;
}
.section-headers .title{
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
}
.section-headers .line{
  display: block;
  height: 4px;
  width: 50px;
  background-color: var(--mainColor);
  margin: auto;
  margin-bottom: 50px;
}
/* 4.5- Padding-Y */
.pd-y{
  padding: 50px 0px;
}
/* 4.6- Hover Item Left */
.hover-left{
  position: relative;
}
.hover-left::after{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 0px;
  background-color: #1C1D1B;
  z-index: -1;
  transition: width 0.7s ease-in-out;
  -webkit-transition: width 0.7s ease-in-out;
  -moz-transition: width 0.7s ease-in-out;
  -ms-transition: width 0.7s ease-in-out;
  -o-transition: width 0.7s ease-in-out;
}
.hover-left:hover::after{
  width: 100%;
}
/* 4.7- Hover Item Top */
.hover-top{
  position: relative;
}
.hover-top::after{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  background-color: #1C1D1B;
  z-index: -1;
  transition: height 0.7s ease-in-out;
  -webkit-transition: height 0.7s ease-in-out;
  -moz-transition: height 0.7s ease-in-out;
  -ms-transition: height 0.7s ease-in-out;
  -o-transition: height 0.7s ease-in-out;
}
.hover-top:hover::after{
  height: 100%;
}
/* 4.8- Scroll Top */
#scroll-top{
  width: 40px;
  border-radius: 50%;
  display: none;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #6195ff;
  position: fixed;
  z-index: 9999;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}
#scroll-top i{
  text-align: center;
  line-height: 35px;
  color: white;
}
#scroll-top:hover{
  background-color: #6195ff;
}
/* 4.9- Loading */
.loading-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2C3E50;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  position: relative;
  top: 25%;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
